<div id='product'>
  <div class='title'>
    <h1><%= product.title %></h1>
  </div>  
  
  <div class='image'>
    <% if product.image.present? %>
      <%= image_tag product.image, :width => '200', :height => '275' %>
    <% end %>
  </div>
  
  <div class='info'>
      <p>$<%= product.cost %></p>
      <p><b>Copies Remaining: <%= product.quantity %></b></p>
      <p><%= product.category %></p>
      <% if product.sale == 1 %>
        <div>
          <p><%= image_tag "sale.jpg", :width => '50', :height => '50' %> - Originally <%= number_to_currency(product.cost + 10) %></p>
        </div>
      <% end %>
      <% if product.new == 1 %>
        <div>
          <%= image_tag "new.jpg", :width => '50', :height => '50' %>
        </div>
      <% end %>
  </div>
  
  <div class='link'>
    <br />
    <%= link_to 'Show', front_end_path(product) %>
  </div>
</div>
