<body class="front_end">
  <div id="header">
    <h1>Information For <%= @product.title %></h1>
  </div>
  
  <div id="nav">
    <%= render :partial => 'front_end/usernav' %>
  </div>
  
  <div id="sidebar">
    <%= render :partial => 'front_end/searchform' %>
  </div>
  
  <table id="productsTable">
    <%= render :partial => 'product', :object => @product, :as => 'product' %>
  </table>
  
  <%= link_to 'Back to all products', root_url %>
  
  <div id="footer">
    <%= render :partial => 'front_end/usernav' %>
  </div>
</body>