<div>
  <div>
    <h1><%= product.title %></h1>
  </div>  
  
  <div>
    <% if product.image.present? %>
      <%= image_tag product.image, :width => '100', :height => '130' %>
    <% end %>
  </div>
  
  <div>
      <p>$<%= product.cost %></p>
      <p><b>Copies Remaining: <%= product.quantity %></b></p>
      <p><%= product.category %></p>
      <% if product.sale == 1 %>
        <p>Sale!!</p>
      <% end %>
      <% if product.new == 1 %>
        <p>New Release!!</p>
      <% end %>
  </div>
  
  <div>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, confirm: 'Are you sure?', method: :delete %>
  </div>
</div>
